# Credentials for backup
DB_DRIVER=pgsql
DB_NAME=db_name
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=

# Should end with slash
BACKUPS_DIR=/opt/backups/

S3_KEY_ID=
S3_KEY_NAME=
S3_APP_KEY=
S3_BUCKET_NAME=
S3_ENDPOINT=
# Shouldn't end with slash
S3_PREFIX=